<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Veterinarios Contratados - Mascotas Felices</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>

<div class="container" style="border:5px ; border-color: cornflowerblue; border-style: dotted;">
    <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>
    <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>
    <h1> Lista de Veterinarios - Mascotas Felices</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>No. TP</th>
            <th>Mascotas Pacientes</th>
            <th>Atenciones dadas</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llenamos la tabla dibujada-->
        <tr th:each="veterinario : ${listaVeterinarios}">
            <td th:text="${veterinario.id}"></td>
            <td th:text="${veterinario.nombre}"></td>
            <td th:text="${veterinario.apellido}"></td>
            <td th:text="${veterinario.direccion}"></td>
            <td th:text="${veterinario.telefono}"></td>
            <td th:text="${veterinario.tarjetaprof}"></td>
            <td><button type="button" class="btn btn-info"><a th:href="@{/Veterinario/{id}/Mascotas(id=${veterinario.id})}">Ver</a></button></td>
            <td><button type="button" class="btn btn-primary"><a th:href="@{/Veterinario/{id}/Atenciones(id=${veterinario.id})}">Ver</a></button></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarVeterinario/{id}(id=${veterinario.id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarVeterinario/{id}(id=${veterinario.id})}">Eliminar</a></button></td>
        </tr>
    </table>
    
    <!-- vamos a crear un boton que sirva para agregar nuevas empresas -->
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarVeterinario}">Agregar Nuevo Veterinario</a></button>
    <br><br>
    <a href="javascript: history.go(-1)" class="btn btn-primary" role="button">Atrás</a><br>
</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Veterinario registrado con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Veterinario actualizado con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Veterinario eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Veterinario no ha sido eliminado!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

</body>
</html>